<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div className="container">
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
             <%
    products.forEach(function(product){%>
        <tr>
            <td><img class=".img" src="<%= product.image %>" alt="" /></td>
           <td>
           <%= product.title %>
           </td>
           <td>
           <%= product.price %>
           </td>
           
        </tr>
        <%});
    %>
        </tbody>
    </table>
    </div>
</body>
</html>